body{
    font: bold 20px Arial;
    text-align: none;
    background: royalblue;
    padding: 0;
    margin: 0;
}


div#border{
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 16.2cm;
    height: 22cm;
    border-radius: 8px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.39);
    margin-bottom: -20px;
}
img{
    transform: scale(0.8);
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
h1{
    margin: auto;
    font: bold 32px Arial;
    margin-bottom: 10px;
}
section{
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    width: 500px;
    height: 250px;
    padding: 20px;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.39);
}

input{
    font: bold 20px Arial;
    width: 200px;
    text-align: center;
}

div#result{
    background-color: gray;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 2px;
    padding: 2px;
    height: 100px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.404);
    overflow: hidden;
}
div#result p{
    align-items: center;
    text-align: center;
    justify-content: center;
    font: bold 20px Arial;
    margin-top: 15px;
    margin-bottom: -3px;
}