body{
    background-color: rgb(58, 121, 204);
    font: bold 20px Arial;
    text-align: none;
}

div#border{
    text-align: center;
    margin: auto;
    width: 19cm;
    height: 25cm;
    border-radius: 8px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.39);
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
h1{
    margin: auto;
    font: bold 42px Arial;
    margin-bottom: 20px;
}

section{
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    width: 600px;
    height: 300px;
    padding: 20px;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.39);
}

input{
    font: bold 20px Arial;
    width: 200px;
    text-align: center;
}

div#result{
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    height: 115px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.404);
}
p{
    font: bold 20px Arial;
    margin: center;
}